@import "vars";
@import "@fortawesome/fontawesome-pro/css/all.css";

.container {
  width: 600px;
}

.edit-button {
  display: flex;
  justify-content: space-between;

  .text-button {
    color: $font-color;
    border: none;
    cursor: pointer;
    background-color: $inp-background;
  }
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin: 30px 0;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin: 0;
    max-width: none;
    max-height: none;
  }
}

.profile-info {
  margin-bottom: 30px;

  &-detail {
    padding: 20px 0;

    label {
      display: inline-block;
      color: $primary-color;
      margin-bottom: 5px;
    }

    fa-icon {
      margin-right: 10px;
    }
  }
}
